/* ==========================================================================
   Base - Base Styles
   ========================================================================== */


* {
  @include box-sizing(border-box);
}

html,
button,
input,
select,
textarea {
  font-family: $font-body;
  font-size: $root-typesize;
  line-height: $base-line-height;
  color: $color--text;
}

body {
  background: $bg-color;
}

p {
  margin-top: 0;
  margin-bottom: $base-line-em;
}

a:hover,
a:active {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $color--gray;
  margin: 1em 0;
  padding: 0;
}

// Remove bullets from lists
ol,
ul {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
ol {
  margin-left: 2em;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}

// Remove default fieldset styles.
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

// Allow only vertical resizing of textareas.
textarea {
  resize: vertical;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
}

button {
  outline: none;
}
