/* ==========================================================================
   Base - Typography
   ========================================================================== */


/*
 * Loop through our map and load font files
 * $fonts map defined in scss/global/variables/_fonts.scss
 */

@each $font-index, $font-info in $fonts {

  $font-name: map-get($font-info, font-name);
  $font-folder: map-get($font-info, font-folder);
  $font-filename: map-get($font-info, font-filename);
  $font-weight: map-get($font-info, font-weight);
  $font-style: map-get($font-info, font-style);

  @include font-face(
  "#{$font-name}",
  (
    'eot': "#{$font-folder}/#{$font-filename}.eot",
    'woff': "#{$font-folder}/#{$font-filename}.woff",
    'ttf': "#{$font-folder}/#{$font-filename}.ttf",
    'svg': "#{$font-folder}/#{$font-filename}.svg"
  ),
  "#{$font-weight}",
  "#{$font-style}"
  );
}

/* Mixin - Reverse
   ========================================================================== */

@mixin reverse($extend: true) {
  @if $extend {
    @extend %reverse;
  }
  @else {
    background-color: $color--black;
    color: $color--white;
    a {
      @include set-link-colors($color--white, $color--white, $color--white, $color--white, $color--white, false);
      @include single-transition($property: border-bottom-color);
      border-bottom-color: $color--gray--light;
      &:hover,
      &:active,
      &:focus {
        border-bottom-color: $color--white;
      }
    }
  }
}

/* Extendables - Reverse & Reverse Text
   ========================================================================== */

%reverse {
  background-color: $color--black;
  @extend %reverse-text;
}
%reverse-text {
  color: $color--white;
  a {
    @include set-link-colors($color--white, $color--white, $color--white, $color--white, $color--white);
    @include single-transition($property: border-bottom-color);
    border-bottom-color: $color--gray--light;
    &:hover,
    &:active,
    &:focus {
      border-bottom-color: $color--white;
    }
  }
}
