/* ==========================================================================
   Pattern Lab - Fonts
   ========================================================================== */


.pl-font { font-size: 2em; }
//.pl-font-volkhov { font-family: $font--volkhov; }
.pl-font-futura { font-family: $font--futura; }
.pl-font-futura-italic { font-family: $font--futura; font-style: italic; }
.pl-font-futura-bold { font-family: $font--futura; font-weight: bold; }
.pl-font-futura-bold-italic { font-family: $font--futura; font-weight: bold; font-style: italic; }
.pl-font-skolar { font-family: $font--skolar; }
.pl-font-skolar-italic { font-family: $font--skolar; font-style: italic; }
.pl-font-skolar-bold { font-family: $font--skolar; font-weight: bold; }
.pl-font-skolar-bold-italic { font-family: $font--skolar; font-weight: bold; font-style: italic; }
