/* ==========================================================================
   Pattern Lab - Type in Use
   ========================================================================== */


//.sg-body-mono {
//  @extend %body-mono;
//}
//
//.sg-heading-trade-medium {
//  @extend %heading-trade-medium;
//}
//
//.sg-preheading-mono {
//  @extend %preheading-mono;
//}
//
//.sg-heading-trade-large {
//  @extend %heading-trade-large;
//}
//
//.sg-heading-trade-cond-large {
//  @extend %heading-trade-cond-large;
//}
//
//.sg-global-footer {
//  @extend %global-footer;
//}
//
//.sg-heading-mpp {
//  @extend %heading--small;
//}
//
//.sg-media-caption {
//  @extend %media-caption;
//}
//
//.sg-heading-mono {
//  @extend %heading-mono;
//}
//
//.sg-title-section {
//  @extend %title-section;
//}
//
//.sg-title-section-large {
//  @extend %title-section-large;
//}
//
//.sg-pullquote {
//  @extend %pullquote;
//}
//
//.sg-eyebrow-text {
//  @extend %eyebrow-text;
//}
