/* ==========================================================================
   Global Variables - Breakpoints
   ========================================================================== */


/*
 * Breakpoint Configuration
 * @see https://github.com/Team-Sass/breakpoint/wiki
 *
 * Usage:
 * display: none; // hidden for mobile
 * @include breakpoint($bp--small-up) {
 *   display: block; // shown above 400
 * }
 */

$breakpoint-no-query-fallbacks: true; // Breakpoint will output fallback selectors in this stylesheet
$breakpoint-to-ems: true; // Breakpoint will convert all media queries to use EMs rather than PX

// Breakpoints
$bp--overview-2col: 600px;
$bp--timeline-2col: 700px;
$bp--timeline--navigation-buttons: 1360px;
