/* ==========================================================================
   Global Variables - Fonts
   ========================================================================== */


/*
 * Simply list your font information in the map below and the @each will take
 * care of the rest.
 * Used to import font faces in base/_typography.scss and define font families.
 *
 * Note: Try to use weight variants where applicable.
 * For example, tstar_mono_round is setup to use tstar_mono_roundbold for the
 * bold variant. Similarly, TradeGothicLTStd can be setup to use
 * TradeGothicLTStdBold for the bold variant.
 */

$fonts: (
  rw-icomoon: (
    font-name: 'rw-icomoon',
    font-folder: 'rw-icomoon',
    font-filename: 'rw-icomoon',
    font-weight: 'normal',
    font-style: 'normal'
  ),
  humanitarian-icons: (
    font-name: 'humanitarian_icons',
    font-folder: 'humanitarian-icons',
    font-filename: 'humanitarian_icons',
    font-weight: 'normal',
    font-style: 'normal'
  )
);

