<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {{#each meta}}
    <meta name="{{name}}" content="{{content}}">
  {{/each}}

  <title>{{page-title}}</title>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/grayscale.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">
        <i class="fa fa-play-circle"></i>  <span class="light">Relief Web</span> Syria / Iraq
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#overview">Overview</a>
        </li>
        <li>
          <a class="page-scroll" href="#timeline">Timelines</a>
        </li>
        <li>
          <a class="page-scroll" href="#reports">Reports</a>
        </li>
        <li>
          <a class="page-scroll" href="#financials">Financials</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">The Syria/Iraq Crisis</h1>
          <p class="intro-text">
            Scroll below to review.
            <br>
            Data curated from the <a href="http://reliefweb.int/updates?advanced-search=(C226.C122)#content">ReliefWeb API</a>.
          </p>
          <a href="#timeline" class="btn btn-circle page-scroll">
            <i class="fa fa-angle-double-down animated"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Overview Section -->
<section id="overview" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Overview</h2>
      <p>The Emergency Response Fund (ERF) mobilizes and channels resources to humanitarian partners to respond to the current situation in Syria and initiate life-saving humanitarian activities both inside Syria and in neighbouring countries.</p>
      <p>The ERF in Lebanon has played a crucial role in funding life-saving and urgent humanitarian needs, injecting money into prioritised but also underfunded sectors.</p>
      <p>The first ERF project in Lebanon was signed in September 2012. Since then, the ERF has increased remarkably funding 32 new projects in 2013, in addition to 6 projects in 2012.</p>
      <p>As of 02 January 2014, there were 807,940 registered Syrian refugees in Lebanon and 51,000 Palestinian refugees from Syria.</p>
    </div>
  </div>
</section>

<!-- Timeline Section -->
<section id="timeline" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Timelines</h2>
    </div>
    <div class="col-lg-8 col-lg-offset-1">
      <p>
        <a href="http://reliefweb.int/map/iraq/iraq-cccm-camp-status-map-28-december-2014">
          <img src="img/iraq_relief_map.png" />
        </a>
      </p>
    </div>
  </div>
</section>

<!-- Reports Section -->
<section id="reports" class="content-section text-center">
  <div class="reports-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Reports</h2>
      </div>
    </div>
  </div>
</section>

<!-- Financials Section -->
<section id="financials" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Financials</h2>
    </div>
    <div class="col-lg-8">
      <p>
        <a href="http://reliefweb.int/map/iraq/iraq-cccm-camp-status-map-28-december-2014">
          <img src="img/financials.png" />
        </a>
      </p>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact</h2>
      <p>Feel free to contact the UN with suggestions.</p>
      <p><a href="#">feedback@reliefweb.int</a>
      </p>
      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="https://twitter.com/reliefweb" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
        </li>
        <li>
          <a href="https://github.com/reliefweb/rw-crisis" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Map Section -->
<div id="map"></div>

<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>Copyright &copy; Relief Web 2015</p>
  </div>
</footer>

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="js/jquery.easing.min.js"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

<!-- Custom Theme JavaScript -->
<script src="js/grayscale.js"></script>

</body>

</html>
