/* ==========================================================================
   Components Atoms - Buttons
   ========================================================================== */


/* Extendable - Button Base
   ========================================================================== */

%btn {
  @include unset-background-links();
  @include link-colors($normal: white, $hover: white, $active: white, $visited: white, $focus: white);
  @include antialiased;
  font-size: 15px;
  text-align: center;
  padding: 0 20px;
  height: 40px;
  line-height: 44px;
  border-style: solid;
  border-color: $color--white;
  border-width: 0; // need `.btn--border` or `.btn--clear-bg` to invoke border; other classes determine color
  display: inline-block;
  background-color: $color--black;
  text-transform: uppercase;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.btn { @extend %btn; }

/* Extendable - Button Big
   ========================================================================== */

%btn--big {
  height: 60px;
  line-height: 64px;
//  min-width: 280px; @todo determine if we need this
}
.btn--big { @extend %btn--big; }

/* Extendable - Button Small
   ========================================================================== */

%btn--small {
  height: 30px;
  line-height: 34px;
}
.btn--small { @extend %btn--small; }

/* Extendable - Button Full
   ========================================================================== */

%btn--full {
  width: 100%;
}
.btn--full { @extend %btn--full; }

/* Extendable - Button Light
   ========================================================================== */

%btn--light {
  @include unset-background-links();
  @include link-colors($normal: black, $hover: black, $active: black, $visited: black, $focus: black);
  background-color: $color--white;
  border-color: $color--black;
  border-width: 1px;
  &:hover {
    border: solid 1px $color--black;
  }
}
.btn--light { @extend %btn--light; }

/* Extendable - Button Clear Background
   ========================================================================== */

%btn--clear-bg {
  background-color: transparent;
  border-width: 1px;
}
.btn--clear-bg { @extend %btn--clear-bg; }

/* Extendable - Button Border
   ========================================================================== */

%btn--border {
  border-width: 1px;
}
.btn--border { @extend %btn--border; }

/* Extendable - Button Disabled
   ========================================================================== */

%btn[disabled] {
  @include opacity(0.3);
  cursor: not-allowed;
  &:hover {
    text-decoration: none;
  }
}
.btn[disabled] { @extend %btn[disabled]; }
