.financial-widget {
  padding: 0 0.5rem 0.5rem;
  background-image: image-url('diagonal-pinstripes.png');
}

.financial-widget--data-source-chooser {
  margin: 0 -0.5rem $base-line-px;
  @include breakpoint($bp--financial--horizontal-tabs) {
    display: flex;
  }
}
.financial-widget--data-source {
  @include unset-background-links();
  @include single-transition(background-color, $default-transition-duration, $default-transition-function);
  @include fontsize-rem(ms(1));
  display: block;
  position: relative;
  padding: 3px 0.5em 3px 1.5em;
  background-color: $color--gray--light;
  font-family: $font--futura;
  @include breakpoint($bp--financial--horizontal-tabs) {
    padding: 0.5rem 1.5em;
    border-bottom: 1px solid $color--blue--pale;
    flex-grow: 1;
    &:before {
//      @include single-transition(transform, $default-transition-duration, $default-transition-function);
      @include transition-property(border-color, transform);
      @include transition-duration($default-transition-duration);
      @include transition-timing-function($default-transition-function);
      @include transform(rotate(0deg));

    }
    &.active, &:hover {
      &:before {
        @include transform(rotate(90deg));
      }
    }
  }
  &:before {
    @include single-transition(border-color, $default-transition-duration, $default-transition-function);
    @include arrow($color--purple--light--mid, right, $arrow-length: 0.66em, $arrow-breadth: 0.5em);
    top: 0.75em;
    left: 0.5em;
    z-index: 10;
  }
  &:nth-last-of-type(1n+2) {
    border-bottom: 1px solid $color--blue--pale;
  }
  &.active, &:hover {
    background-color: $color--white;
    &:before {
      @include arrow($color--purple, right, $arrow-length: 0.66em, $arrow-breadth: 0.5em);
    }
  }
}

.financial-widget--time {
  display: table;
  width: 100%;
  margin-bottom: $base-line-px;
  border-bottom: 1px solid $color--gray--lightish;
  @include breakpoint($bp--financial--inline-date) {
    display: flex;
  }
  h1 {
    @include fontsize-rem(ms(3));
    line-height: 1.1;
  }
  .selectric-financial-widget--time-select {
    margin-top: 1em;
    @include breakpoint($bp--financial--inline-date) {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      margin-left: 1rem;
    }
  }
}

.financial-widget {
  .selectric {
    background-color: $color--gray--light;
    .button {
      color: $color--purple;
    }
    .label {
      color: $color--blue;
    }
  }
  .selectricItems {
    background-color: $color--gray--light;
    li {
      color: $color--blue;
      &:nth-last-of-type(1n+2) {
        border-top: 1px solid $color--blue--pale;
      }
      &.selected {
        background-color: $color--blue--pale;
        color: $color--blue--dark;
      }
      &:hover {
        background-color: $color--blue--pale;
        color: $color--blue--dark;
      }
    }
  }
  .selectric-financial-widget--time-select {
    .label {
      margin-bottom: 0;
    }
  }
}

.financial-widget--percent-funded {
  width: 100%;
  height: 3rem;
  margin-bottom: $base-line-px;
  border-bottom: 1.75rem solid $color--gray--light;
  background-color: $color--blue--dark;
  box-sizing: content-box;
}

.financial-widget--percent-funded--amount {
  position: relative;
  height: 100%;
  padding: 3rem 0.5rem 0;
  color: $color--gray--light--mid;
  font-family: $font--futura;
  white-space: nowrap;
  &.covered {
    $color--diagonal--lighter: mix($color--gray--light, $color--yellow, 25%);
    @include background-image(linear-gradient(-90deg, $color--yellow, $color--transparent--white), repeating-linear-gradient(-45deg, $color--transparent--white, $color--transparent--white 16px, $color--diagonal--lighter 16px, $color--diagonal--lighter 32px));
    width: 55%;
    float: left;
    border-right: 4px solid $color--purple;
    background: $color--yellow;
    background-position: 50% 50%, 50% 50%;
    color: $color--yellow--dark;
  }
  &.requested {
    color: $color--blue--dark;
    text-align: right;
  }
  .percent {
    position: absolute;
    top: 5px;
    right: 0.5rem;
    color: $color--yellow--dark;
    font-size: ms(2);
    line-height: 1;
    text-align: right;
    span {
      display: block;
      font-size: ms(0);
    }
  }
}


// BUBBLES!!!
.financial-widget--cluster-funding {
  h2 {
    @include fontsize-rem(ms(2));
    margin-bottom: 0;
    padding: 0.5rem;
    border-bottom: 1px solid $color--purple--dark;
    background-color: $color--purple;
    color: $color--white;
    line-height: 1.1;
  }
  svg {
    width: 100%;
  }
}

#finance-bubbles {
  &.horizontal {
    display: none;
  }
  @include breakpoint($bp--financial--wide-chart) {
    &.vertical {
      display: none;
    }
    &.horizontal {
      display: block;
    }
  }
}
#finance-bubbles {
  margin-bottom: $base-line-px;
  padding: 1em 0 1em 0.5em;
  background-color: $color--white;
  text {
    font-family: $font--futura;
    font-size: ms(0);
  }
  .scale-line {
    stroke: $color--gray--lightish;
  }
  .scale-line--percent {
    fill: $color--purple;
  }
  .cluster-bubble {
    text {
      fill: $color--white;
    }
    circle {
      fill: $color--purple;
    }
    &.small {
      text {
        fill: $color--purple--dark;
      }
    }
  }
  #detail-overlay {
    display: none;
    .detail--block {
      fill: rgba($color--white, 0.8);
    }
    .detail--info {
      fill: $color--purple;
      stroke: $color--purple--dark;
    }
    .detail--text {
      font-size: ms(1);
      fill: $color--white;
    }
    .detail--title {
      font-size: ms(2);
    }
  }
}


.financial-widget {
  footer {
    padding: 3px 0.5rem;
    background-color: $color--white;
  }
}
