.financial-widget {
  padding: 0 0.5rem;
}

.financial-widget--data-source-chooser {
  margin-bottom: $base-line-px;
}
.financial-widget--data-source {
  @include unset-background-links();
  @include single-transition(background-color, $default-transition-duration, $default-transition-function);
  font-family: $font--futura;
  display: block;
  @include fontsize-rem(ms(1));
  padding: 3px 0.5em;
  background-color: $color--gray--light;
  position: relative;
  padding-left: 1.5em;
  &:before {
    @include single-transition(border-color, $default-transition-duration, $default-transition-function);
    @include arrow($color--purple--light--mid, right, $arrow-length: 0.66em, $arrow-breadth: 0.5em);
    top: 0.75em;
    left: 0.5em;
    z-index: 10;
  }
  &:nth-last-of-type(1n+2) {
    border-bottom: 1px solid $color--blue--pale;
  }
  &.active, &:hover {
    background-color: $color--blue--paler;
    &:before {
      @include arrow($color--purple, right, $arrow-length: 0.66em, $arrow-breadth: 0.5em);
    }
  }
}

.financial-widget--time {
  display: table;
  margin-bottom: $base-line-px;
  border-bottom: 1px solid $color--gray--lightish;
  width: 100%;
  h1 {
    font-size: ms(3);
    line-height: 1.1;
  }
  .selectric-financial-widget--time-select {
    margin-top: 1em;
  }
}

.financial-widget {
  .selectric {
    background-color: $color--gray--light;
    .button {
      color: $color--purple;
    }
    .label {
      color: $color--blue;
    }
  }
  .selectricItems {
    background-color: $color--gray--light;
    li {
      color: $color--blue;
      &:nth-last-of-type(1n+2) {
        border-top: 1px solid $color--blue--pale;
      }
      &.selected {
        background-color: $color--blue--pale;
        color: $color--blue--dark;
      }
      &:hover {
        background-color: $color--blue--pale;
        color: $color--blue--dark;
      }
    }
  }
  .selectric-financial-widget--time-select {
    .label {
      margin-bottom: 0;
    }
  }
}

.financial-widget--percent-funded {
  width: 100%;
  height: 3rem;
  background-color: $color--blue--dark;
  margin-bottom: $base-line-px;
  border-bottom: 1.75rem solid $color--gray--light;
  box-sizing: content-box;
}

.financial-widget--percent-funded--amount {
  height: 100%;
  padding: 3rem 0.5rem 0;
  position: relative;
  white-space: nowrap;
  font-family: $font--futura;
  color: $color--gray--light--mid;
  &.covered {
    float: left;
    width: 55%;
    background: $color--yellow;
    $color--diagonal--lighter: mix($color--gray--light, $color--yellow, 25%);
    @include background-image(linear-gradient(-90deg, $color--yellow, $color--transparent--white), repeating-linear-gradient(-45deg, $color--transparent--white, $color--transparent--white 16px, $color--diagonal--lighter 16px, $color--diagonal--lighter 32px));
    background-position: 50% 50%, 50% 50%;
    border-right: 4px solid $color--purple;
    color: $color--yellow--dark;
  }
  &.requested {
    text-align: right;
    color: $color--blue--dark;
  }
  .percent {
    color: $color--yellow--dark;
    font-size: ms(2);
    text-align: right;
    position: absolute;
    top: 5px;
    right: 0.5rem;
    line-height: 1;
    span {
      display: block;
      font-size: ms(0);
    }
  }
}


// BUBBLES!!!
.financial-widget--cluster-funding {
//  background-image: image-url('diagonal-pinstripes.png');
//  border: {
//    width: 4px 0;
//    style: double;
//    color: $color--gray--light;
//  }
//  margin: 0 -0.5rem;
//  padding: 0.5em 0;
//  box-shadow: 0 0 0px 0.25em white inset;
  h2 {
    font-size: ms(3);
    line-height: 1.1;
//    margin: 0 0.5rem;
  }
  svg {
    width: 100%;
  }
}

//
#finance-bubbles {
//  background-color: $color--purple--light;
  background-image: image-url('diagonal-pinstripes.png');
  padding: 1em 0 1em 0.5em;
  text {
    font-family: $font--futura;
//    text-transform: uppercase;
    font-size: ms(0);
  }
  .scale-line {
    stroke: $color--gray--lightish
  }
  .scale-line--left {
    fill: $color--purple;
  }
  .cluster-bubble {
    text {
      fill: $color--white;
    }
    circle {
      fill: $color--purple;
    }
    &.small {
      text {
        fill: $color--purple--dark;
      }
    }
  }
  #detail-overlay {
//    display: none;
    .detail--block {
      fill: rgba($color--white, 0.8);
    }
    .detail--info {
      fill: $color--purple;
      stroke: $color--purple--dark;
    }
    .detail--text {
      font-size: ms(1);
      fill: $color--white;
    }
    .detail--title {
      font-size: ms(2);
    }
  }
}
