.overview-widget {
  @include breakpoint($bp--overview-2col) {
    @include layout($grid--golden-left) {
      .overview-widget--description {
        @include grid-span(1, 1);
        clear: left;
      }
      .overview-widget--map {
        @include grid-span(1, 2);
      }
      .overview-widget--tabs {
        @include grid-span(1, 2);
        clear: right;
      }
      .overview-widget--sources {
        @include grid-span(1, 2);
        clear: right;
      }
    }
  }
}

.widget-title {
  $color--diagonal--lighter: mix($color--gray--light, $color--blue--dark, 97%);
  @include background-image(linear-gradient(90deg, $color--gray--light, $color--transparent--white), repeating-linear-gradient(-45deg, $color--transparent--white, $color--transparent--white 16px, $color--diagonal--lighter 16px, $color--diagonal--lighter 32px));
  @include fontsize-rem(ms(0));
  position: relative;
  margin: 0;
  padding: 0.75em 0.5em 0.75em 3.5em;
  border-bottom: 1px solid $color--gray--lightish;
  background-color: $color--gray--light;
  background-position: 50% 50%, 50% 50%;
  color: $color--blue--dark;
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
  .word1 {
    display: block;
  }
  .word2 {
    display: block;
  }
}

.widget-title--icon {
  @include transform(translateY(-50%));
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0 0.125em;
  background-color: $color--yellow;
  color: $color--white;
  font-size: 2.25em;
  line-height: 1.74;
}

.overview-widget--map {
  border: {
    width: 0 0 1px 0;
    style: solid;
    color: $color--gray--dark;
  }
}

.overview-widget--description {
  h2 {
    @include fontsize-rem(ms(2));
    margin: 0 0 12px;
    padding: 6px 0.5em;
    border-top: 1px solid $color--gray--lightish;
    border-bottom: 2px solid $color--purple;
    background-color: $color--gray--light;
    color: $color--purple--dark;
    line-height: unitless-convert(em(34px, ms(2)));
    @include breakpoint($bp--overview-2col) {
      border-top: none;
      background-color: transparent;
    }
  }
  .accordion-set--content {
    @include column-gap(2em);
    padding: 0 0.5em;
    @include eq('cols2') {
      @include columns(2);
      margin-bottom: $base-line-em;
    }
    @include breakpoint($bp--overview-2col) {
      max-height: 100em;
    }
  }
}

// Accordion
.accordion-set--label {
  position: relative;
  &:before {
    @include single-transition(transform, $default-transition-duration, $default-transition-function);
    @include transform(rotate(0deg));
    @include arrow($color--purple);
    top: 1em;
    left: 0.5em;
    @include breakpoint($bp--overview-2col) {
      display: none;
    }
  }
  h2 {
    padding-left: 1em;
    @include breakpoint($bp--overview-2col) {
      padding-left: 0.5rem;
    }
  }
}

.accordion-set--check {
  &:checked {
    + .accordion-set--label {
      &:before {
        @include transform(rotate(90deg));
      }
    }
  }
}


// Tabs
.overview-widget--tabs {
  display: flex;
  margin-top: $base-line-em;
  flex-wrap: wrap;
  @include breakpoint($bp--overview-2col) {
    margin-top: 0;
  }
  label {
    @include transition-property(background-color, color);
    @include transition-duration($default-transition-duration);
    @include transition-timing-function($default-transition-function);
    @include fontsize-rem(ms(1));
    padding: 3px 0.5em;
    background-color: $color--gray--light;
    font-family: $font--futura;
    flex-basis: 33%;
    position: relative;
    &:before {
      @include single-transition(opacity, $default-transition-duration, $default-transition-function);
      @include arrow($color--purple, down);
      top: 100%;
      left: 0.5em;
      z-index: 10;
      opacity: 0;
    }
  }
  .tab-set--tab:checked {
    + label {
      background-color: $color--purple;
      color: $color--white;
      &:before {
        opacity: 1;
      }
    }
  }
  .tab-set--content {
    position: relative;
    width: 100%;
    background-color: $color--purple--dark;
  }
  .tab-set--body {
    padding: 1em 0.5em;
    > h2 {
      @extend %hide;
    }
    h3 {
      margin-bottom: 0;
      color: $color--purple;
      line-height: 1;
      text-transform: lowercase;
      .figure {
        color: $color--white;
        font-weight: bold;
      }
      + p {
        color: $color--white;
      }
    }
  }
  .un-icon-crisis_population_displacement {
    @include opacity(0.1);
    position: absolute;
    width: 100%;
    color: $color--white;
    font-size: 10em;
    text-align: center;
  }
}

// Sources
.overview-widget--sources {
  margin: 1em 0;
  color: $color--gray--lightish;
}





