.timeline-widget--dropdown {
  position: relative;
  top: auto;
  right: auto;

  @include breakpoint($bp--timeline-2col) {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 10;
  }
}

.timeline-widget--dropdown--wrapper {
  @include transition-property(max-height, opacity);
  @include transition-duration($default-transition-duration);
  @include transition-timing-function($default-transition-function);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  z-index: 100;
  &:before {
    @include arrow($color--blue--darker, up);
    right: 2em;
    bottom: 100%;
  }

  @include breakpoint($bp--timeline-2col) {
    position: relative;
    top: em(14px);
    width: em(360px);
    height: auto;
  }

  &.open {
    max-height: 100em;
    opacity: 1;
    overflow: visible;
  }
}

.timeline-widget--dropdown-heading {
  width: 100%;
  padding: em(10px) em(32px);
  float: right;
  background: $color--purple--dark;
  cursor: pointer;
  color: $color--white;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint($bp--timeline-2col) {
    width: auto;
  }
}

.timeline-widget--dropdown-controls {
  position: relative;
  height: em(55px);
  padding: em(10px) em(32px);
  background: $color--blue--darker;

  .close {
    @include inline-block;
    width: em(15px);
    height: em(15px);
    margin-top: em(10px);
    float: right;
    background: url('../../images/close.svg');
    background-size: em(15px);
    cursor: pointer;
  }
  .form-select {
    @include inline-block;
  }
}

.timeline-widget--dropdown--container {
  height: 100%;
  padding: 0 em(15px) 0 em(30px);
  background-image: image-url('diagonal-pinstripes.png');
  @include breakpoint($bp--timeline-2col) {
    height: em(325px);
    border-bottom: 2px solid $color--blue--dark;
  }

  ul {
    padding: em(14px) 0;
    border-left: em(4px) solid $color--blue--dark;
  }

  .timeline-widget--dot {
    position: absolute;
    top: 20%;
    left: em(-55px);
    background: $color--blue;
    border: em(4px) solid $color--gray--light;

    .timeline-widget--dot--date {
      width: em(30px);
      margin: auto;
      text-align: center;
      padding-left: em(2px);
      padding-top: em(4px);
    }
  }
  .active {
    .timeline-widget--dot {
      background: $color--blue--dark;
      border-color: $color--gray--lightish;
    }
  }
}

.timeline-widget-dropdown--list-item {
  @include arrow-box(em(10px), $color--white, em(1px), $color--gray--light--mid, left);
  position: relative;
  margin-bottom: em(14px);
  margin-left: em(32px);
  padding: 0.5em;
  text-align: right;
  color: $color--gray;

  &.active {
    @include arrow-box(em(10px), $color--white, em(1px), $color--blue--dark, left);
  }
}

.timeline-widget--dropdown--month {
  border: none;
  text-align: center;
  text-transform: uppercase;
  color: $color--gray--light--mid;
  margin: 0.5em;
}

.timeline-widget--dropdown--end-of-line {
  @extend .timeline-widget--dropdown--month;
}

.timeline-widget-frames-wrapper {
  margin: 0;

  @include breakpoint($bp--timeline-2col) {
    margin: 0 em(60px);
  }

  @include breakpoint($bp--timeline--navigation-buttons) {
    margin: 0;
  }
}

.timeline-widget-frames {
  width: 100%;

  ul {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .timeline-widget-item {
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
  }
}

.timeline-widget {
  position: relative;
  max-width: em(1175px);
  margin: 0 auto;
  padding: 0 0.5em;
  font-family: $font--futura;
}

.timeline-widget--controls {
  position: relative;

  .next,
  .prev {
    position: absolute;
    top: em(65px);
    border: none;
    background: $color--white;
    z-index: 10;

    @include breakpoint($bp--timeline-2col) {
      top: em(260px);
      width: em(50px);
      height: em(50px);
    }
  }

  .next {
    right: 0;

    .arrow {
      @include arrow($color--gray--lightish, right, ms(1));
      position: absolute;
      top: 0;
      right: 0;

      @include breakpoint($bp--timeline-2col) {
        @include arrow($color--purple--dark, right);
        top: em(16px);
        right: em(16px);
      }
    }
  }

  .prev {
    left: 0;

    .arrow {
      @include arrow($color--gray--lightish, left, ms(1));
      position: absolute;
      top: 0;
      left: 0;

      @include breakpoint($bp--timeline-2col) {
        @include arrow($color--purple--dark, left);
        top: em(16px);
        left: em(16px);
      }
    }
  }

  @include breakpoint($bp--timeline--navigation-buttons) {
    .next {
      right: em(-102px);
    }

    .prev {
      left: em(-102px);
    }
  }
}

.timeline-widget-item--headline {
  margin: 0 em(40px);

  @include breakpoint($bp--timeline-2col) {
    margin: 0;
    font-size: ms(4);
  }
}

.timeline-widget-item--header {
  padding-top: 0.5em;
}

.timeline-widget-item--title {
  font-family: $font--futura;
  font-size: ms(1);
  font-weight: bold;
  line-height: normal;

  @include breakpoint($bp--timeline-2col) {
    font-size: ms(4);
  }
}

.timeline-widget-item--category {
  @include inline-block;
  position: relative;
  color: $color--red;
  font-size: ms(0);
  text-transform: uppercase;

  @include breakpoint($bp--timeline-2col) {
    margin-right: 20px;
    padding: em(6px) em(10px);
    background: $color--red;
    color: $color--white;
  }

  .arrow {
    @include arrow($color--red, right, em(12px), em(37px));
    display: none;
    position: absolute;
    top: 0;
    right: em(-12px);

    @include breakpoint($bp--timeline-2col) {
      display: block;
    }
  }
}

.timeline-widget-item--date {
  display: block;
  color: $color--purple--dark;
  font-size: ms(0);
  font-weight: bold;
  text-transform: uppercase;

  @include breakpoint($bp--timeline-2col) {
    @include inline-block;
    font-size: ms(2);
  }
}

.timeline-widget-item--content {
  @media screen and (min-width: 700px) {
    @include layout($grid--2-3) {
      .grid--item {
        &:nth-of-type(2n+1) {
          @include grid-span(1, 1);
          clear: both;
        }
        &:nth-of-type(2n+2) {
          @include grid-span(1, 2);
        }
      }
    }
  }

  a {
    font-weight: bold;
    text-transform: none;
  }

  .btn {
    width: 100%;
    background: $color--purple--dark;
    font-family: $font--futura;
    font-size: ms(0);
    font-weight: normal;
    text-decoration: none;
  }

  .timeline-widget-item--image {
    position: relative;
  }

  .timeline-widget-item--image--icons {
    position: absolute;
    top: 0;
    left: 0;
    font-size: ms(0);

    a {
      border: none;
      color: $color--white;
      text-transform: uppercase;
      text-shadow: none;

      &.timeline-widget-item--image--view-more {
        background: $color--red;
      }

      &.timeline-widget-item--image--country {
        padding: 0 em(3px);
        background: $color--blue--dark;
      }
    }
  }

  .timeline-widget-item--description {
    padding-top: em(10px);
    color: $color--gray;
    font-family: $font--skolar;
    @include breakpoint($bp--timeline-2col) {
      padding-top: em(64px);
    }

    p {
      display: none;

      @include breakpoint($bp--timeline-2col) {
        display: block;
      }
    }

  }
}

.timeline-widget-pager {
  position: relative;
  width: 100%;
  margin-top: em(40px);
  padding-bottom: 10px;
  background: image-url('pager-bk-img.png') repeat-x 0 em(14px);

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline;
    height: 100%;
    float: left;
  }
}

.timeline-widget-pager--item {
  max-width: em(260px);
  margin: 0 auto;
}

.timeline-widget-pager--item-content {
  @include arrow-box(em(10px), $color--white, em(1px), $color--gray--lightish, up);
  color: $color--gray;
  display: none;
  margin: em(15px) em(5px) 0 em(5px);
  padding: em(10px);
  border: em(1px) solid $color--gray--lightish;
  text-align: center;
  .active & {
    @include arrow-box(em(10px), $color--white, em(2px), $color--purple--dark, up);
    color: $color--gray;
  }

  @include breakpoint($bp--timeline-2col) {
    display: block;
  }
}

.timeline-widget-pager--current {
  width: 100%;
  margin: auto;
  padding: em(10px);
  border-top: em(1px) solid $color--white;
  background: $color--gray--light;
  font-size: ms(0);
  text-align: center;
  text-transform: uppercase;
}

.timeline-widget--dot {
  @include border-radius(40px);
  width: em(40px);
  height: em(40px);
  margin: 0 auto;
  border: em(6px) solid $color--purple--light;
  background: $color--purple;
  font-weight: bold;
  color: $color--white;
  .active & {
    background: $color--purple--dark;
    border-color: $color--purple;
  }
  .timeline-widget--dot--date {
    width: 30px;
    margin: auto;
    text-align: center;
    padding-right: 2px;
    padding-top: 2px;
  }
}
